#playerInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playerIdentityDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
#playerIdentityDiv div {
  margin-left: 5%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#playerIdentityCountry {
  width: 30%;
}
