#tableDiv {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: relative;
  overflow-y: scroll;
}
table {
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  width: 35%;
}

td {
  cursor: pointer;
}
#homeTableScore {
  text-align: right;
  display: block;
  margin-right: 25%;
}
#homeTableName {
  text-align: left;
}

#awayTableName {
  text-align: right;
  display: block;
  margin-right: 5%;
}
#awayTableScore {
  text-align: left;
}
